$font: 'Work Sans';
$fontTitle: 'PT Sans';

$black: #000000;
$white: #ffffff;
$dark: #111111;
$blue: #5A61ED;
$gray: #7C7C7C;
$lightGray: #F2F2F2;
$red: #FF2828;
$lightBlue: #F9FAFF;

$transition: all 0.3s ease;
